.page_header{
	text-align: center;
	font-size: 50;
	font-weight: bold;
	color: #03409C;
}

.ranking_div{
	width: 40%;
    margin: auto;
    border: 2px solid #A4C9FF;
    padding: 50px;
	display: inline-block;
}

.table_title{
	text-align: center;
	font-size: 25;
	font-weight: bold;
	color: #03409C;
}

.tables_div{
    text-align: center;
}

.center_col{
	text-align: center;
}

.table_header{
	background-color: #03409C;
	color: white;
}

#chart_title{	
	color: #03409C;
	padding: 10px;
	font-weight: bold;
	text-align: center;
	font-size: 25;
	width: 90%;
    margin: auto;
}

#dashboard{
	width: 90%;
    margin: auto;
}

#chart_div{
	width: 100%;
	margin: auto;
	display: inline-block;
}

#control_div{
	width: 100%;
	margin: auto;
	display: inline-block;
}

#instructions{
	width: 60%;
	text-align: center;
	margin: auto;
	padding: 20px;
	font-size: 14;
	font-weight: bold;
	color: #1B40A4;
}